// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    100: hsl(356, 100%, 53%),
    200: hsl(356, 98%, 53%),
    300: hsl(356, 89%, 45%),
    400: hsl(356, 90%, 34%),
    500: hsl(356, 89%, 29%),
  ),
  secondary: (
    100: #6befe0,
    200: hsl(173, 80%, 63%),
    300: hsl(173, 72%, 57%),
    400: hsl(173, 75%, 47%),
    500: hsl(173, 90%, 30%),
  ),
  dark: (
    100: hsl(226, 44%, 25%),
    200: hsl(226, 43%, 20%),
    300: hsl(226, 45%, 15%),
    400: hsl(226, 44%, 10%),
    500: hsl(224, 44%, 5%),
  ),
  alert: (
    100: hsl(46, 100%, 67%),
    200: hsl(42, 100%, 67%),
    300: hsl(39, 67%, 58%),
    400: hsl(38, 48%, 45%),
    500: hsl(39, 48%, 38%),
  ),
  neutral: (100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
);