// | -------------------------------------------------------------
// | Font
// | -------------------------------------------------------------

@use "../abstracts" as *;

/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.333,5,2,&s=0.75,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  /* Step -2: 12.5px → 11.2556px */
  --step--2: clamp(0.7035rem, 0.8083rem + -0.1353vw, 0.7813rem);
  /* Step -1: 15px → 15.0038px */
  --step--1: clamp(0.9375rem, 0.9374rem + 0.0004vw, 0.9377rem);
  /* Step 0: 18px → 20px */
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  /* Step 1: 21.6px → 26.66px */
  --step-1: clamp(1.35rem, 1.24rem + 0.55vw, 1.6663rem);
  /* Step 2: 25.92px → 35.5378px */
  --step-2: clamp(1.62rem, 1.4109rem + 1.0454vw, 2.2211rem);
  /* Step 3: 31.104px → 47.3719px */
  --step-3: clamp(1.944rem, 1.5904rem + 1.7682vw, 2.9607rem);
  /* Step 4: 37.3248px → 63.1467px */
  --step-4: clamp(2.3328rem, 1.7715rem + 2.8067vw, 3.9467rem);
  /* Step 5: 44.7898px → 84.1745px */
  --step-5: clamp(2.7994rem, 1.9432rem + 4.281vw, 5.2609rem);
}

body {
  font-family: var(--font-family-default);
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-rendering: optimizeLegibility;
  font-synthesis: none;
  font-size: var(--step-0);
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  a:not(.button) {
    color: var(--action-color);
    text-decoration: none;

    &:visited {
      color: var(--action-color);
    }

    &:hover,
    &:focus {
      color: var(--action-color-state);
      text-decoration: underline;
    }
  }

  :where(main) a {
    word-wrap: break-word;
    word-break: break-word;
  }

  :where(h1, h2) {
    font-family: var(--font-family-special);
  }

  h1,
  h2 {
    font-weight: 800;
  }

  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }

  h1 {
    font-size: 2.25rem;
    line-height: 3.375rem;

    @include breakpoint(medium) {
      font-size: var(--step-4);
      line-height: 1;
    }
  }

  h2 {
    font-size: 1.875rem;
    line-height: 2.8125rem;

    @include breakpoint(medium) {
      font-size: var(--step-3);
      line-height: 1;
    }
  }

  h3 {
    font-size: 1.5rem;
    line-height: 2.25rem;

    @include breakpoint(medium) {
      font-size: var(--step-2);
      line-height: 2.8125rem;
    }
  }

  h4 {
    font-size: 1.25rem;
    line-height: 1.875rem;

    @include breakpoint(medium) {
      font-size: var(--step-1);
      line-height: 2.25rem;
    }
  }

  h5 {
    font-size: 1.125rem;
    line-height: 1.6875rem;

    @include breakpoint(medium) {
      font-size: 1.25rem;
      line-height: 1.875rem;
    }
  }

  h6 {
    font-size: 1rem;
    line-height: 1.5rem;

    @include breakpoint(medium) {
      font-size: 1.125rem;
      line-height: 1.6875rem;
    }
  }

  // p {
  //   font-size: var(--step-1);
  // }
}
