.card-1 {
  border: 1px solid light-dark(hsl(0 0% 10%), hsl(0 0% 90%));
  border-radius: 0.5em;
  padding: 1em;

  height: 100%;

  .button {
    width: 100%;
    padding: var(--space-2xs);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;

    svg {
      width: 1.3em;
      height: 1.3em;
    }
  }

  summary {
    cursor: pointer;
    font-size: var(--step-1);
    font-weight: 700;

    &::marker {
      font-size: 1.5rem;
      color: var(--primary-300);
    }
  }
}
