.faq {
  .grid {
    --minimun: 40ch;
  }

  details {
    padding: 1rem;
    border: 2px solid var(--alert-100);
    border-radius: 4px;
  }

  summary {
    cursor: pointer;
    font-weight: 700;

    &::marker {
      font-size: 1.5rem;
      color: var(--primary-300);
    }
  }
}
