---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import PageBanner from "../components/page/PageBanner.astro";
---

<DefaultLayout>
  <PageBanner
    title="¿Listo para llevar tu presencia en línea al siguiente nivel? Contáctame hoy mismo."
    description="¿Tienes alguna pregunta o quieres discutir un proyecto? ¡Estoy aquí para ayudarte! No dudes en contactarme para cualquier consulta, cotización o simplemente para decir hola."
    class="bg-gradient-contact"
  />
  <section id="contact" class="page-section | contact-section">
    <div class="container">
      <div class="grid">
        <div class="left-col">
          <h2>¿Cómo puedo ayudarte?</h2>
          <p>
            Si tienes alguna pregunta, necesitas una cotización o simplemente
            quieres discutir tu proyecto, no dudes en contactarme. Estoy aquí
            para ayudarte a llevar tu presencia en línea al siguiente nivel.
          </p>
          <ul role="list" class="contact-info">
            <li>
              <strong>Email:</strong>
              <a href="mailto:contacto@rafacalvodev.com"
                >contacto@rafacalvodev.com</a
              >
            </li>
          </ul>
        </div>
        <div class="right-col">
          <h2>Envíame un mensaje</h2>
          <form
            class="contact-form"
            action="https://formspree.io/f/your-form-id"
            method="POST"
          >
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" required />

            <label for="email">Email:</label>
            <input type="email" id="email" name="_replyto" required />

            <label for="message">Mensaje:</label>
            <textarea id="message" name="message" rows="5" required></textarea>

            <button type="submit">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  .bg-gradient-contact {
    background: #eddd53;
    background: linear-gradient(
      90deg,
      rgba(237, 221, 83, 1) 0%,
      rgba(87, 199, 133, 1) 50%,
      rgba(83, 132, 237, 1) 100%
    );
  }
</style>
