---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import PageHeader from "../components/PageHeader.astro";
import CTA from "../components/CTA.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<DefaultLayout>
  <PageHeader />
  <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima facere soluta optio.</h1>
</DefaultLayout>