@use "../abstracts" as *;
@use "../base" as *;

.extra-services {
  svg {
    max-width: 100%;
    width: 5em;
    height: 5em;

    path,
    circle {
      fill: var(--alert-100);
    }
  }

  .flow:first-of-type {
    --flow-spacer: var(--space-m);
  }

  .flex {
    justify-content: flex-start;
  }

  .grid {
    gap: var(--space-m);
  }

  .left-col,
  .right-col {
    .flow {
      --flow-spacer: var(--space-s);
    }
  }
}
