@use "../abstracts" as *;
@use "../base" as *;

.ecommerce-development {
  --section-spacing: var(--space-l);

  .benefits {
    ul {
      list-style: disc;
      padding-left: var(--space-s);
    }
    .grid {
      --minimun: 40ch;
      column-gap: 2rem;
    }
  }

  .card-1 {
    height: auto;
  }

  .recommended {
    border: 2px solid var(--alert-100);

    span {
      font-size: var(--step--1);
      font-weight: 700;
      color: hsl(0, 0%, 0%);
      background-color: var(--alert-100);
      padding: var(--space-3xs) var(--space-xs);
      border-radius: 4px;
    }
  }
}
