---
import { Media } from "accessible-astro-components";
---

<section class="projects">
  <div class="container">
    <h2>Algunos de los proyectos en los que he trabajado</h2>
    <ul class="grid">
      <li>
        <article class="flow">
          <Media
            class="rounded-lg"
            src="https://images.unsplash.com/photo-1620428268482-cf1851a36764?auto=format&fit=crop&q=100&w=800"
            alt="Credit Restructuring Solutions"
          />
          <h3>Credit Restructuring Solutions</h3>
          <a class="button" href="#">Visit Site</a>
        </article>
      </li>
      <li>
        <article class="flow">
          <Media
            class="rounded-lg"
            src="https://images.unsplash.com/photo-1620428268482-cf1851a36764?auto=format&fit=crop&q=100&w=800"
            alt="Fundaci贸n Arquitectura y Ciudad"
          />
          <h3>Fundaci贸n Arquitectura y Ciudad</h3>
          <a class="button" href="#">Visit Site</a>
        </article>
      </li>
      <li>
        <article class="flow">
          <Media
            class="rounded-lg"
            src="https://images.unsplash.com/photo-1620428268482-cf1851a36764?auto=format&fit=crop&q=100&w=800"
            alt="Azuquita C贸smica"
          />
          <h3>Azuquita C贸smica</h3>
          <a class="button" href="#">Visit Site</a>
        </article>
      </li>
      <li>
        <article class="flow">
          <Media
            class="rounded-lg"
            src="https://images.unsplash.com/photo-1620428268482-cf1851a36764?auto=format&fit=crop&q=100&w=800"
            altt="Mejora tu Credit"
          />
          <h3>Mejora tu Credit</h3>
          <a class="button" href="#">Visit Site</a>
        </article>
      </li>
    </ul>
  </div>
</section>

<style>
  article {
    border: 3px solid light-dark(hsl(0 0% 10%), hsl(0 0% 90%));
    border-radius: 0.5em;
    padding: 1em;
  }
</style>
