<section id="servicios" class="home-section">
  <div class="container">
    <h2>Esto es lo que ofrezco:</h2>
    <div>
      <ul class="grid">
        <li>
          <article>
            <h3>Desarrollo Web</h3>
            <p>
              Diseño y desarrollo sitios web WordPress personalizados, desde
              landing pages hasta tiendas online completas, puedo crear el sitio
              web perfecto para tu negocio.
            </p>
          </article>
        </li>
        <li>
          <article>
            <h3>Mantenimiento Web</h3>
            <p>
              Me encargo de que tu sitio web esté siempre actualizado, seguro y
              funcionando a la perfección, para que puedas dedicarte a lo que
              realmente importa: tu negocio.
            </p>
          </article>
        </li>
        <li>
          <article>
            <h3>Optimización</h3>
            <p>
              Implemento estrategias probadas para que tu sitio web aparezca en
              los primeros resultados de búsqueda, atrayendo tráfico orgánico de
              calidad y potenciales clientes.
            </p>
          </article>
        </li>
      </ul>
    </div>
    <div class="services-cta">
      <a href="/desarrollo-web/" class="button">Desarrollo Web</a>
      <a href="/contacto/" class="button color-secondary">Contacto</a>
      <a href="/mantenimiento-web/" class="button">Mantenimiento Web</a>
    </div>
  </div>
</section>

<style>
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  article {
    border: 3px solid light-dark(hsl(0 0% 10%), hsl(0 0% 90%));
    border-radius: 0.5em;
    padding: 1em;
  }
</style>
