---
import {
  Tabs,
  TabsList,
  TabsTab,
  TabsPanel,
  Media,
} from "accessible-astro-components";
---

<section class="home-section" id="sobre-mi">
  <div class="container">
    <h2>Algo sobre mí</h2>
    <div class="grid">
      <Tabs>
        <TabsList>
          <TabsTab id="tab-1" controls="panel-1" selected>First Panel</TabsTab>
          <TabsTab id="tab-2" controls="panel-2">Second Panel</TabsTab>
        </TabsList>

        <TabsPanel id="panel-1" labelledby="tab-1" selected>
          <h3>First Panel</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
            quasi nobis optio? Qui in quo accusantium debitis sapiente obcaecati
            magnam incidunt sit. Molestiae exercitationem quibusdam quod
            veritatis laboriosam est tenetur. Lorem ipsum dolor, sit amet
            consectetur adipisicing elit. Sed eveniet quidem earum at nobis
            enim.
          </p>
          <a href="#">Tab to me!</a>
        </TabsPanel>
        <TabsPanel id="panel-2" labelledby="tab-2">
          <h3>Second Panel</h3>
          <div class="">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. In
              ratione aliquid perferendis consectetur iusto cumque deserunt odio
              accusamus? Numquam nulla at dolore iure dignissimos earum magni
              laborum blanditiis sunt, alias aut ea officia aliquam accusamus.
            </p>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
            quasi nobis optio? Qui in quo accusantium debitis sapiente obcaecati
            magnam incidunt sit. Molestiae exercitationem quibusdam quod
            veritatis laboriosam est tenetur. Lorem ipsum dolor, sit amet
            consectetur adipisicing elit. Sed eveniet quidem earum at nobis
            enim.
          </p>
          <a href="#">Tab to me!</a>
        </TabsPanel>
      </Tabs>
      <Media
        class="rounded-lg"
        src="https://images.unsplash.com/photo-1636819488537-a9b1ffb315ce?auto=format&fit=crop&w=800&q=100"
      />
    </div>
  </div>
</section>

<style>
  .tab {
    padding: 1em;
  }
</style>
