---
import HomeHeroImage from "./HomeHeroImage.astro"
---

<div class="container">
  <section class="hero grid">
    <div class="hero__text | flow">
      <h1>
        ¡Hola! Soy Rafa y te ayudo a iniciar y/o mejorar tu presencia online con páginas web sencillas y rápidas.
      </h1>
      <p>
        Bien sea un proyecto nuevo o mejorar algo ya hecho. Con las herramientas a mi disposición podemos dar ese salto de calidad que falta.
      </p>
      <div class="home-buttons">
        <a href="/portafolio/" class="button">Mis Trabajos</a>
        <a href="#servicios" class="button button-secondary">Servicios</a>
      </div>
    </div>
    <div class="hero__img">
      <HomeHeroImage/>
    </div>
  </section>
</div>

<style>
  .hero {
    margin: 5rem 0;
  }

  .grid {
    align-items: center;
  }
</style>