<section class="service-banner">
  <div class="service-banner__content">
    {Astro.props.title && <h1 class="service-banner__title">{Astro.props.title}</h1>}
    {Astro.props.description && <p class="service-banner__description">{Astro.props.description}</p>}
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique delectus modi reiciendis quas, laudantium magnam eaque laborum, veritatis vitae exercitationem incidunt provident vel enim dicta voluptatibus ratione repellat quisquam sit ab consectetur sapiente, ipsam cum unde optio. Dolor, fuga at. Repudiandae quo dolorum quas voluptas. Necessitatibus neque sequi ex minima quod iusto voluptatum, ea quos laborum officia possimus esse veniam sapiente odio rerum quaerat labore est pariatur placeat! Hic sunt, facilis adipisci maxime ullam autem reprehenderit. Fugit eligendi, quam sapiente dolor qui natus nostrum molestias odio, facilis voluptatibus quos doloremque cumque voluptate! Explicabo autem, obcaecati aut nemo sed ratione harum.</p>
  </div>
</section>
